<div class="fullscreen-video-bg">
  <video loop muted autoplay poster="assets/img/home-bg.jpg">
    <source src="assets/vid/home-bg.mp4" type="video/mp4">
  </video>
</div>
<div class="view-wrapper">
  <div class="view-wrapper-inner">
    <div class="container intro-content">
      <div class="row">

        <div class="col-xs-12">

          <h1>I'm Ricardo Sousa.</h1>

          <p class="intro-position">
            <span>Front-end Developer</span>
          </p>

          <div class="intro-social">
            <a href="https://github.com/ricardomfmsousa/" target="_blank">
              <fa name="github" size="lg"></fa>
            </a>
            <a href="https://linkedin.com/ricardomfmsousa/" target="_blank">
              <fa name="linkedin" size="lg"></fa>
            </a>
            <a [routerLink]="['/contact']">
              <fa name="envelope" size="lg"></fa>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
