:host {
  // display: flex;
  // overflow: hidden;
  // height: 100vh;
  main {
    flex: 1;
    position: relative;
    height: 100%;
  }
  /deep/ router-outlet~* {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
