<div style="height:100%" *ngIf="appLoaded">

  <app-navbar></app-navbar>
  <!-- Fade in/out between route changes -->
  <main [@fadeAnimation]="getRouterOutletState(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>


</div>
