<!doctype html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <title>MyResume</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <style>
    /**
     * Use HTML style tag for #app-loading in order to have styling
     * readly available when the index.html file loads
     **/

    #app-loading {
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: gray;
      background: linear-gradient(45deg, rgba(111, 111, 111, 1), rgba(111, 111, 111, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
      background-size: 2px 2px;
    }

    #app-loading svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  </style>
</head>

<body>
  <app-root>
    <div id="app-loading">
      <svg width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple"
        style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
        <circle cx="50" cy="50" r="0" fill="none" ng-attr-stroke="{{config.c1}}" ng-attr-stroke-width="{{config.width}}" stroke="#28292f"
          stroke-width="2">
          <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="2.3" keySplines="0 0.2 0.8 1" begin="-1.15s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="2.3" keySplines="0.2 0 0.8 1" begin="-1.15s"
            repeatCount="indefinite" />
        </circle>
        <circle cx="50" cy="50" r="0" fill="none" ng-attr-stroke="{{config.c2}}" ng-attr-stroke-width="{{config.width}}" stroke="#0a0a0a"
          stroke-width="2">
          <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="2.3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"
          />
          <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="2.3" keySplines="0.2 0 0.8 1" begin="0s"
            repeatCount="indefinite" />
        </circle>
      </svg>
    </div>
  </app-root>
</body>

</html>
