/* Set default font family as Ubuntu font family */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300');
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
